<p id="notice"><%= notice %></p>

<p>
  <h5>First name:</h5>
  <%= @employee.first_name %>
</p>

<p>
  <h5>Last name:</h5>
  <%= @employee.last_name %>
</p>

<p>
  <h5>Ssn:</h5>
  <%= @employee.ssn %>
</p>

<p>
  <h5>Date of Birth:</h5>
  <%= @employee.date_of_birth %>
</p>

<p>
  <h5>Phone:</h5>
  <%= @employee.phone %>
</p>

<p>
  <h5>Role:</h5>
  <%= @employee.role %>
</p>

<p>
  <h5>Active:</h5>
  <%= @employee.active %>
</p>
</br>
<%= link_to 'Edit', edit_employee_path(@employee), class: 'button'%>
<%= link_to 'Back', employees_path, class: 'button' %>
