<p id="notice"><%= notice %></p>

<h2>Assignments</h2>
    <%if @assignments && @assignments.empty?%>
      <p>You Have No Assignments </p>
<%else%>
<table>
  <thead>
    <tr>
      <th>Store</th>
      <th>Employee</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Pay level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%if @assignments && current_user.employee.role == "manager" || current_user.employee.role == "admin" %>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.store_id %></td>
        <td><%= assignment.employee_id %></td>
        <td><%= assignment.start_date %></td>
        <td><%= assignment.end_date %></td>
        <td><%= assignment.pay_level %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%else%>
        <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.store_id %></td>
        <td><%= assignment.employee_id %></td>
        <td><%= assignment.start_date %></td>
        <td><%= assignment.end_date %></td>
        <td><%= assignment.pay_level %></td>
        <td><%= link_to 'Show', assignment %></td>
      </tr>
      <%end%>
<%end%>
  </tbody>
</table>
<%end%>

<br>

