<p id="notice"><%= notice %></p>

<p>
  <h5>Store:</h5>
  <%= @assignment.store_id %>
</p>

<p>
  <h5>Employee:</h5>
  <%= @assignment.employee_id %>
</p>

<p>
  <h5>Start date:</h5>
  <%= @assignment.start_date %>
</p>

<p>
  <h5>End date:</h5>
  <%= @assignment.end_date %>
</p>

<p>
  <h5>Pay level:</h5>
  <%= @assignment.pay_level %>
</p>

</br>
<%= link_to 'Edit', edit_assignment_path(@assignment), class: 'button'%>
<%= link_to 'Back', assignments_path, class: 'button' %>
