<p id="notice"><%= notice %></p>

<p>
  <h5>Name:</h5>
  <%= @store.name %>
</p>

<p>
  <h5>Street:</h5>
  <%= @store.street %>
</p>

<p>
  <h5>City:</h5>
  <%= @store.city %>
</p>

<p>
  <h5>State:</h5>
  <%= @store.state %>
</p>

<p>
  <h5>Zip:</h5>
  <%= @store.zip %>
</p>

<p>
  <h5>Phone:</h5>
  <%= @store.phone %>
</p>

<p>
  <h5>Active:</h5>
  <%= @store.active %>
</p>

</br>
<%= link_to 'Edit', edit_store_path(@store), class: 'button'%>
<%= link_to 'Back', stores_path, class: 'button' %>
