<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
 <li><%= link_to "List Stores", stores_path %></li>
 <li><%= link_to "Add Store", new_store_path %></li>
  <li><%= link_to "Active Stores", active_stores_path %></li>
 <li><%= link_to "Inactive Stores", inactive_stores_path %></li>

</ul>

<ul id="dropdown2" class="dropdown-content">
 <li><%= link_to "List Employees", employees_path %></li>
 <li><%= link_to "Add an Employee", new_employee_path %></li>
  <li><%= link_to "Active Employees", active_employees_path %></li>
 <li><%= link_to "Inactive Employees", inactive_employees_path %></li>
 <li><%= link_to "Admins", admins_path %></li>
 <li><%= link_to "Managers", managers_path %></li>
 <li><%= link_to "Employees", regulars_path %></li>


</ul>

<ul id="dropdown3" class="dropdown-content">
 <li><%= link_to "List Assignments", assignments_path %></li>
 <li><%= link_to "Add an Assignment", new_assignment_path %></li>
  <li><%= link_to "Store Assignments", for_store_path %></li>
 <li><%= link_to "Employee Assignments", for_employee_path %></li>
 <li><%= link_to "Role Assignments", for_role_path %></li>
 <li><%= link_to "Pay Level Assignments", for_pay_level_path %></li>
 <li><%= link_to "Past Assignments", past_path %></li>
 <li><%= link_to "Current Assignments", current_path %></li>


</ul>
<nav>
 <div class="nav-wrapper">


   <ul>


<li><a class="dropdown-button" href="/employees" data-activates="dropdown2">Employees<i
class="material-icons right">arrow_drop_down</i></a></li>

<li><a class="dropdown-button" href="/assignments" data-activates="dropdown3">Assignments<i
class="material-icons right">arrow_drop_down</i></a></li>

 <li><a class="dropdown-button" href="/flavors" data-activates="dropdown1">Flavors<i
class="material-icons right">arrow_drop_down</i></a></li>

 <li><a class="dropdown-button" href="/jobs" data-activates="dropdown1">Jobs<i
class="material-icons right">arrow_drop_down</i></a></li>




 <% if current_user %>
  <li><%= link_to "Log Out", logout_path %></li>
<% else %>
  <li><%= link_to "Log In", login_path %></li>
<% end %>
 </ul>
 </div>
 <p id="notice"><%= notice %></p>
</nav>