<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
 <li><%= link_to "List Stores", stores_path %></li>
 <li><%= link_to "Add Store", new_store_path %></li>
  <li><%= link_to "Active Stores", active_stores_path %></li>
 <li><%= link_to "Inactive Stores", inactive_stores_path %></li>

</ul>

<ul id="dropdown4" class="dropdown-content">
 <li><%= link_to "List Jobs", jobs_path %></li>
 <li><%= link_to "Add Job", new_job_path %></li>
  <li><%= link_to "Active Jobs", active_jobs_path %></li>
 <li><%= link_to "Inactive Jobs", inactive_jobs_path %></li>

</ul>

<ul id="dropdown6" class="dropdown-content">
 <li><%= link_to "List Store Flavors", store_flavors_path %></li>
 <li><%= link_to "Add Store Flavor", new_store_flavor_path %></li>

</ul>

<ul id="dropdown7" class="dropdown-content">
 <li><%= link_to "List shift", shifts_path %></li>
 <li><%= link_to "Add shift", new_shift_path %></li>
  <li><%= link_to "completed", completed_path %></li>
 <li><%= link_to "Incomplete", incomplete_path %></li>
 
  <li><%= link_to "Past", past_shifts_path %></li>
 <li><%= link_to "Upcoming", upcoming_path %></li>
 <li><%= link_to "For next days", for_next_days_path %></li>
 <li><%= link_to "For past days", for_past_days_path %></li>


</ul>

<ul id="dropdown8" class="dropdown-content">
 <li><%= link_to "List shift jobs", shift_jobs_path %></li>
 <li><%= link_to "Add shift job", new_shift_job_path %></li>
</ul>

<ul id="dropdown5" class="dropdown-content">
 <li><%= link_to "List Flavors", flavors_path %></li>
 <li><%= link_to "Add Flavor", new_flavor_path %></li>
  <li><%= link_to "Active Flavors", active_flavors_path %></li>
 <li><%= link_to "Inactive Flavors", inactive_flavors_path %></li>

</ul>

<ul id="dropdown2" class="dropdown-content">
 <li><%= link_to "List Employees", employees_path %></li>
 <li><%= link_to "Add an Employee", new_employee_path %></li>
  <li><%= link_to "Active Employees", active_employees_path %></li>
 <li><%= link_to "Inactive Employees", inactive_employees_path %></li>
 <li><%= link_to "Admins", admins_path %></li>
 <li><%= link_to "Managers", managers_path %></li>
 <li><%= link_to "Employees", regulars_path %></li>


</ul>

<ul id="dropdown3" class="dropdown-content">
 <li><%= link_to "List Assignments", assignments_path %></li>
 <li><%= link_to "Add an Assignment", new_assignment_path %></li>

 <li><%= link_to "Past Assignments", past_path %></li>
 <li><%= link_to "Current Assignments", current_path %></li>


</ul>
<nav>
 <div class="nav-wrapper">


   <ul>


<li><a class="dropdown-button" href="/home">Home</a></li>

<li><a class="dropdown-button" href="/employees" data-activates="dropdown2">Employees<i
class="material-icons right">arrow_drop_down</i></a></li>

<li><a class="dropdown-button" href="/stores" data-activates="dropdown1">Stores<i
class="material-icons right">arrow_drop_down</i></a></li>

<li><a class="dropdown-button" href="/assignments" data-activates="dropdown3">Assignments<i
class="material-icons right">arrow_drop_down</i></a></li>

 <li><a class="dropdown-button" href="/jobs" data-activates="dropdown4">Jobs<i
class="material-icons right">arrow_drop_down</i></a></li>

 <li><a class="dropdown-button" href="/flavors" data-activates="dropdown5">Flavors<i
class="material-icons right">arrow_drop_down</i></a></li>

 <li><a class="dropdown-button" href="/store_flavors" data-activates="dropdown6">Store Flavors<i
class="material-icons right">arrow_drop_down</i></a></li>

 <li><a class="dropdown-button" href="/shifts" data-activates="dropdown7">Shifts<i
class="material-icons right">arrow_drop_down</i></a></li>

 <li><a class="dropdown-button" href="/shift_jobs" data-activates="dropdown8">Shift Jobs<i
class="material-icons right">arrow_drop_down</i></a></li>






 <% if current_user %>

  <li><%= link_to "Log Out", logout_path, :class => "dropdown-button" %></li>
<% else %>
  <li><%= link_to "Log In", login_path, :class => "dropdown-button" %></li>
<% end %>
 </ul>
 </div>
 <p id="notice"><%= notice %></p>
</nav>