<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
 <li><%= link_to "List Stores", stores_path %></li>
  <li><%= link_to "Active Stores", active_stores_path %></li>
 <li><%= link_to "Inactive Stores", inactive_stores_path %></li>

</ul>

<nav>
 <div class="nav-wrapper">


   <ul>
<li><a class="dropdown-button" href="/home" >Home</a></li>


<li><a class="dropdown-button" href="/employees/">My information</a></li>

<li><a class="dropdown-button" href="/assignments">Assignments</a></li>

<li><a class="dropdown-button" href="/shifts">Shifts</a></li>

<li><a class="dropdown-button" href="/shift_jobs">Shift Jobs</a></li>

<li><a class="dropdown-button" href="/stores" data-activates="dropdown1">Stores<i
class="material-icons right">arrow_drop_down</i></li>

 <li><%= link_to "Log Out", logout_path, :class => "dropdown-button" %></li>


 </ul>
 </div>
 <p id="notice"><%= notice %></p>
</nav>