<p id="notice"><%= notice %></p>

<h2>Shift Jobs</h2>
    <%if @shift_jobs.empty?%>
      <p>There is no Shift Jobs </p>
<%else%>
<table>
  <thead>
    <tr>
      <th>Shift</th>
      <th>Job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shift_jobs.each do |shift_job| %>
      <tr>
        <td><%= shift_job.shift_id %></td>
        <td><%= shift_job.job_id %></td>
      <%if current_user.employee.role == "admin" || current_user.employee.role == "manager" %>
        <td><%= link_to 'Edit', edit_shift_job_path(shift_job) %></td>
        <td><%= link_to 'Destroy', shift_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<br>

