<!DOCTYPE html>
<html>
  <head>
    <title>Phase3Starter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
   <%= render partial: 'partials/nav' %>

<br />
 <div class="wrapper" >

 <div class="col s12 center">
          	<br />	
		
		<img src="https://openclipart.org/download/297685/icecream-2221064.svg" id = "about_image" width="1000" height="100">
 <!-- MAIN CONTENT GOES HERE -->
 <%= yield %>
 </div>

          	<br />	

 </div>
  <footer>
 <div class="row2">
 <div class="col s12 center">
 <%= render partial: 'partials/footer' %>
 </div>
 </div>
 </footer>
</body>

</html>
