<!DOCTYPE html>
<html>
  <head>
    <title>A&MCreamery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

   <%= render partial: 'partials/nav' %>

<br />
 <div class="wrapper" >

 <div class="col s12 center">
          	<br />	
		
		<img src="https://png2.kisspng.com/sh/1f7271435a6563059e3dce68c4c92571/L0KzQYm3U8I0N6Rmj5H0aYP2gLBuTflkbV5oitdqbT3mf7Bsk71obZ1mjNG2c37yh37qjB5mNZpofZ9scnXkfX68gfI1bJJnfKZqM3O5SHACV8A0OGU2TqMAMkG7QIKCUcc0OGU2RuJ3Zx==/kisspng-ice-cream-cones-gelato-snow-cone-ice-cream-5ab4dabd4a3c68.9703041615218019173041.png" id = "about_image" width="100" height="50">
 <!-- MAIN CONTENT GOES HERE -->
 <%= yield %>
 </div>

          	<br />	

 </div>
  <footer>
 <div class="row2">
 <div class="col s12 center">
 <%= render partial: 'partials/footer' %>
 </div>
 </div>
 </footer>
</body>

</html>
